
body {
    background-color: var(--color-4);
    color: var(--color-4);
    font-family: var(--font);
    transition: .4s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES E ID'S REUTILIZÁVEIS ===============*/
.container {
    max-width: 1250px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.active__link {
    color: var(--color-3) !important;
}

.nav__link {
    color: var(--color-4);
    transition: 0.5s ease;
}

.nav__link:hover {
    color: var(--color-4-alt);
}

.section__title {
    color: var(--color-7);
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.btn__container {
    display: flex;
    justify-content: center;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 1025px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}