
body {
    background-color: var(--color-4);
    color: var(--color-4);
    font-family: var(--font);
    transition: .4s;
}

section {
    padding: 5em 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES E ID'S REUTILIZÁVEIS ===============*/
.nav-container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;    
}

.container {
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}

.active__link {
    color: var(--color-3) !important;
}

.nav__link {
    color: var(--color-4);
    transition: 0.5s ease;
}

.nav__link:hover {
    color: var(--color-4-alt);
}

/*=============== RESPONSIVE ===============*/
