
body {
    background-color: var(--color-4);
    color: var(--color-4);
    font-family: var(--font);
    transition: .4s;
}

section {
    padding: 5em 0;
}

h1 {
    color: var(--color-2);
    font-weight: 700;
    font-size: 3rem;
    line-height: 69px;
    margin-bottom: .5em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES E ID'S REUTILIZÁVEIS ===============*/
.container {
    max-width: 1250px;
    max-width: 80%;
    margin: 0 auto;
}

.active__link {
    color: var(--color-3) !important;
}

.nav__link {
    color: var(--color-4);
    transition: 0.5s ease;
}

.nav__link:hover {
    color: var(--color-4-alt);
}

.btn__container {
    display: flex;
    justify-content: center;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 600px) {
    .row {
        display: flex;
        justify-content: space-between;
    }
}