.header {
    background-color: var(--color);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
}

.nav__logo {
    width: 160px;
}

.nav__list {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color);
    transition: .3s;
}

.nav__list.active {
    left: 0;
}

.nav__item {
    padding: 1em 0;
    font-weight: 700;
    cursor: pointer;
}

.nav__burguer {
    display: block;
}

.nav__burguer.active .nav__bar:nth-child(2) {
    opacity: 0;
}

.nav__burguer.active .nav__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.nav__burguer.active .nav__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav__bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.active__link {
    color: var(--color-3) !important;
}

.nav__link {
    color: var(--color-4);
    transition: 0.5s ease;
}

.nav__link:hover {
    color: var(--color-4-alt);
}


/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 769px) {
    .nav__logo {
        width: 244px;
    }
    
    .nav__burguer {
        display: none;
        cursor: pointer;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3em;
        position: inherit;
        top: inherit;
        left: inherit;
        width: inherit;
    }

    .nav__item {
        padding: 0;
    }
}

