/*=========== HERO ===========*/
h1 {
    font-size: var(--sz-3);
    font-weight: 700;
    color: var(--color-2);
    line-height: 40px;
    margin-bottom: .75em;
}

h2 {
    font-size: var(--sz-3);
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-bottom: .75em;
}

video {
    display: block;
    width: clamp(250px, 80vw, 480px);
    margin: 0 auto 2em;
}

.hero {
    padding: 6em 0;
}

.hero .col:first-child {
    text-align: center;
}

.hero .col:last-child {
    width: clamp(240px, 40vw, 380px);
    margin: 3em auto 0;
}

.hero p {
    font-size: var(--sz-6);
    font-weight: 300;
    color: var(--color-6);
    line-height: 23px;
    max-width: 460px;
    margin: 0 auto 1.75em;
}

/*=============== MAIN ===============*/
/*=========== COURSES ===========*/
.curso {
    background-color: var(--color-5);
}

.row {
    padding: 3em 0;
    border-bottom: 5px solid var(--color-8);
}

.row__border {
    border: transparent;
}

.curso p {
    font-size: var(--sz-6);
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: var(--color-6);
    max-width: 500px;
    margin: 0 auto 1em;
}

.curso p:last-child {
    margin-bottom: 0;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 600px) {
    h1 {
        font-size: var(--sz-2);
        line-height: 63px;
    }
}

@media screen and (min-width: 980px) {
    h2, .curso p {
        text-align: left;
    }

    .hero .col:first-child {
        text-align: left;
        width: 47%;
    }

    .hero .col:last-child {
        margin: 0;
    }

    .hero p {
        margin: 0;
    }

    .curso__row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        padding: 4rem 0;
    }

    .col:first-child {
        width: 47%;
        max-width: 480px;
    }

    .col:last-child {
        width: 47%;
    }

    .curso p {
        margin: 0 0 1em;
    }
}