/*=========== HERO ===========*/
.hero {
    padding: 6em 0;
}

h1 {
    color: var(--color-2);
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: .5em;
}

.hero .col:first-child {
    text-align: center;
}

.hero p {
    color: var(--color-3);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 1.75em;
}

.btn {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 31px;
    color: var(--color-2);
    padding: .5em 1.25em;
    border-radius: 100px;
    border: 2px solid var(--color-2);
    transition: .4s;
}

.btn:hover {
    color: var(--color-4);
    background-color: var(--color-2);
}

.hero .col:last-child {
    width: clamp(240px, 40vw, 500px);
    margin: 3em auto 0;
}

/*=============== MAIN ===============*/
/*=========== COURSES ===========*/
.courses {
    background-color: var(--color-5);
    text-align: center;
}

.col {
    width: 100%;
}

.courses .col+.col {
    margin-top: 5em;
}

.courses__img-1,
.courses__img-2,
.courses__img-3 {
    height: 270px;
    margin: 0 auto;
}

.courses__img-1 {
    width: 288px;
}

.courses__img-2 {
    width: 238px;
}

.courses__img-3 {
    width: 187px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-2);
    line-height: 29px;
    margin: 1.75em 0;
}

.courses p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-6);
    line-height: 20px;
    margin: 0 auto 2em;
    max-width: 293px;
}

.courses a {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    color: var(--color-4);
    border-radius: 100px;
    padding: .75em 2.25em;
    background-color: var(--color-2);
    transition: .4s;
}

.courses a:hover {
    background-color: var(--color-2-alt);
}


/*=========== TESTMONIALS ===========*/
.testmonials {
    font-family: var(--font-2);
}

.section__title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-7);
    margin-bottom: 1.5em;
}

.section__title___testmonials {
    font-weight: 700;
    line-height: 50px;
}

.testmonials .col {
    margin-top: 3em;
    text-align: center;
}

.testmonials img {
    width: 104px;
    height: 104px;
    margin: 0 auto 1em;
}

.testmonials__info {
    font-size: 1.125rem;
    line-height: 25px;

    color: var(--color-6);
}

.testmonials__text {
    font-weight: 300;
    max-width: 363px;
    margin: 0 auto;
}

.testmonials__name {
    font-weight: 400;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 600px) {
    .testmonials__row {
        display: flex;
        justify-content: space-between;
    }

    .testmonials .col {
        width: 46%;
    }
}

@media screen and (min-width: 900px) {
    .testmonials .col {
        display: flex;
        text-align: left;
    }

    .testmonials img {
        margin: 0 2em 0 0;
    }
}

/*=========== POSTS ===========*/
.posts {
    background-color: var(--color-5);
}

.section__title___posts {
    line-height: 42px;
}

.posts .col {
    max-width: 320px;
    margin: 0 auto;
}

.posts__img {
    width: 100%;
    ;
    height: 190px;
    background-color: var(--color-8);
}

.posts__span {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 31px;
    color: var(--color-7);
}

.post__text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-6);
    margin-bottom: 2em;
}

.posts__btn {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 29px;
    color: var(--color-2);
    padding: .5em 2em;
    margin-top: 3em;
    border-radius: 100px;
    border: 2px solid var(--color-2);
    transition: .4s;
}

.posts__btn:hover {
    color: var(--color-4);
    background-color: var(--color-2);
}

/*=============== RESPONSIVE ===============*/
@media screen and (max-width: 340px) {
    .posts__btn {
        padding: .5em 1.75em;
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3.75rem;
        line-height: 69px;
    }

    .btn {
        font-size: 1.75rem;
        line-height: 31px;
    }
    
    .posts__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .posts .col {
        width: 46%;
        margin: 0;
    }

    .posts__btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    .posts .col {
        width: 30%;
    }
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 900px) {
    .courses__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .courses .col {
        width: 46%;
        margin: 0 0 5em;
    }

    .courses .col:last-child {
        margin-bottom: 0;
    }

    .courses .col+.col {
        margin-top: inherit;
    }
}

@media screen and (min-width: 1200px) {
    .hero .col:first-child {
        text-align: left;
        width: 47%;
    }

    .hero .col:last-child {
        width: 47%;
        margin: 0;
        align-self: flex-start;
    }

    .hero__row {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    .courses .col {
        width: 30%;
        margin-bottom: 0;
    }
}