h1 {
    font-size: var(--sz-2);
    font-weight: 500;
    line-height: 57px;
    text-align: center;
    margin-bottom: .15em;
}

h2 {
    font-size: var(--sz-4);
    font-weight: 500;
    line-height: 30px;
    color: var(--color-9);
    margin-bottom: 1em;
}

p {
    font-size: var(--sz-7);
    font-weight: 300;
    line-height: 20px;
    color: var(--color-6);
    margin-bottom: 2em;
}

/*=========== POSTS ===========*/
.post {
    margin-bottom: 4em;
}

.post__container {
    max-width: 1032px;
}

.post__subtitle {
    font-size: var(--sz-7);
    font-weight: 300;
    line-height: 21px;
    color: var(--color-10);
    text-align: center;
    margin-bottom: 2em;
}