@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  --color: hsl(174, 53%, 38%);
  --color-2: hsl(340, 100%, 63%);
  --color-2-alt: hsl(340, 100%, 59%);
  --color-3: hsl(0, 0%, 33%);
  --color-4: hsl(0, 0%, 99%);
  --color-4-alt: hsl(0, 0%, 79%);
  --color-5: hsl(0, 0%, 97%);
  --color-6: hsl(0, 0%, 0%);
  --color-7: hsl(174, 100%, 29%);
  --color-8: hsl(0, 0%, 77%);
  --color-9: hsl(171, 39%, 42%);
  --color-9-alt: hsl(171, 39%, 36%);

  /*========== Font and typography ==========*/
  --font: 'Ubuntu', sans-serif;
  --font-2: 'Nunito', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  /*=============== RESPONSIVE ===============*/
@media screen and (min-width: 1025px) {
  :root {
    --header-height: 7.25rem;
  }
}
}
